body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1f2039;
}

nav a {
    color: #242424;
    text-decoration: none;
    font-size: 1em;
    font-style: 'Manrope', sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

em {
    color: #a5b4fc;
    font-style: normal;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-style: 'Montserrat', sans-serif;
}

h2 {
    color: #F9F8FF;
    margin-top: 1.5em;
}

p li {
    font-size: 1.1em;
    color: #F9F8FF;
}

body {
    background-color: #1F2039;
}

header,
footer {
    background-color: white;
    padding: 20px 50px;
}

header img:hover,
footer img:hover {
    opacity: 0.5;
}

.cta {
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    border-radius: 50px;
}

.cta:hover {
    background: linear-gradient(#696484, #8788BA);
    text-decoration: none;
}

section {
    padding: 80px;
}

.apropos-contenu {
    padding: 50px;
    margin: auto;
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
}